<form
  [formGroup]="form()"
  class="flex flex-col gap-[12px]"
  (ngSubmit)="onSubmit()"
>
  @let controls = form().controls;
  @let searchControlConfig =
    searchSource() === 'internet'
      ? {
          icon: 'search',
          placeholder: 'Search from ' + controls.engine.value.name,
        }
      : {
          icon: 'bookmark_star',
          placeholder: 'Search your bookmarks',
        };
  <bs-search
    [leadingIcon]="searchControlConfig.icon"
    class="[view-transition-name:search-container]"
    *bsRerender="searchSource()"
    @SearchControl
  >
    <input
      bs-search-control
      type="search"
      [placeholder]="searchControlConfig.placeholder"
      [formControl]="controls.query"
      bsCaptureFocus
    />
    <ng-container *bsSearchTrailing>
      <button bs-icon-button>
        <bs-icon icon="mic" />
      </button>
      @if (searchSource() === 'internet') {
        <button bs-icon-button>
          <bs-icon icon="camera" />
        </button>
      }
    </ng-container>
  </bs-search>
  <div class="flex px-[4px] gap-[4px]">
    @let selectConfig =
      searchSource() === 'internet'
        ? { options: internetSearchEngineOptions, control: controls.engine }
        : { options: bookmarkSearchModeOptions, control: controls.mode };
    <bs-chip-select
      *bsRerender="selectConfig"
      class="flex-1 min-w-0 px-[4px]"
      scrollable
      [options]="selectConfig.options"
      [formControl]="selectConfig.control"
      @SearchChips
    />
    <div class="switch-actions flex gap-[12px] items-end">
      @let instruction =
        searchSource() === 'internet'
          ? 'Or switch to bookmark search'
          : 'Or back to explore the internet';
      <span
        class="text-on-surface-variant label-large"
        @SearchSwitchInstruction
        *bsRerender="instruction"
      >
        {{ instruction }}
      </span>
      <bs-switch [icons]="true" [(value)]="searchSourceSwitchValue" />
    </div>
  </div>
  <div class="h-[30dvh] pointer-events-none"></div>
</form>
