<form
  [formGroup]="form"
  class="flex flex-col gap-[12px]"
  (ngSubmit)="onSubmit()"
>
  @let controls = form.controls;
  @let searchIcon = searchSource() === 'internet' ? 'search' : 'bookmark_star';
  @let placeholder =
    searchSource() === 'internet'
      ? 'Search from ' + controls.engine.value.name
      : 'Search your bookmarks';
  <div class="bg-surface-container-high rounded-extra-large">
    <adx-search
      [leadingIcon]="searchIcon"
      class="[view-transition-name:search-container]"
    >
      <input
        adx-search-control
        type="search"
        autofocus
        [placeholder]="placeholder"
        [formControl]="controls.keywords"
      />
      <ng-container *adxSearchTrailing>
        <button adx-icon-button>
          <adx-icon icon="mic" />
        </button>
        @if (searchSource() === 'internet') {
          <button adx-icon-button>
            <adx-icon icon="camera" />
          </button>
        }
      </ng-container>
    </adx-search>
  </div>
  <div class="flex px-[4px] gap-[4px]">
    @let selectConfig =
      searchSource() === 'internet'
        ? { options: internetSearchEngineOptions, control: controls.engine }
        : { options: bookmarkSearchModeOptions, control: controls.mode };
    <adx-chip-select
      *adxRerender="selectConfig"
      class="flex-1 min-w-0 px-[4px]"
      scrollable
      [options]="selectConfig.options"
      [formControl]="selectConfig.control"
      @SearchChips
    />
    <div class="flex gap-[12px] items-end">
      <span class="text-on-surface-variant label-large">
        @let instruction =
          searchSource() === 'internet'
            ? 'Or switch to bookmark search'
            : 'Or back to explore the internet';
        {{ instruction }}
      </span>
      <adx-switch [icons]="true" [(value)]="searchSourceSwitchValue" />
    </div>
  </div>
  <div class="h-[30dvh] pointer-events-none"></div>
</form>
