<div class="absolute inset-0 bg-scrim opacity-[26%] pointer-events-none"></div>

<header class="flex justify-end">
  <div class="flex gap-[4px]">
    <button adx-icon-button>
      <adx-icon icon="refresh" />
    </button>
    <button adx-icon-button>
      <adx-icon icon="settings" />
    </button>
  </div>
</header>

<main class="flex-1 flex justify-center items-center">
  <form
    [formGroup]="form"
    class="flex w-[55dvw] max-w-[680px] flex-col gap-[12px]"
    (ngSubmit)="onSubmit()"
  >
    @let controls = form.controls;
    <adx-search>
      @let placeholder =
        searchSource() === 'internet'
          ? 'Search from ' + controls.engine.value.name
          : 'Search your bookmarks';
      <input
        adx-search-control
        type="search"
        autofocus
        [placeholder]="placeholder"
        [formControl]="controls.keywords"
      />
      <ng-container *adxSearchTrailing>
        <button adx-icon-button>
          <adx-icon icon="mic" />
        </button>
        @if (searchSource() === 'internet') {
          <button adx-icon-button>
            <adx-icon icon="camera" />
          </button>
        }
      </ng-container>
    </adx-search>
    <div class="flex px-[4px]">
      @switch (searchSource()) {
        @case ('internet') {
          <adx-chip-select
            class="flex-1 px-[4px]"
            [options]="internetSearchEngineOptions"
            [formControl]="controls.engine"
          />
        }
        @case ('bookmarks') {
          <adx-chip-select
            class="flex-1 px-[4px]"
            [options]="bookmarkSearchModeOptions"
            [formControl]="controls.mode"
          />
        }
      }
      <div class="flex gap-[12px] items-end">
        <span class="text-on-surface-variant label-large">
          @switch (searchSource()) {
            @case ('internet') {
              Or switch to bookmark search
            }
            @case ('bookmarks') {
              Or back to explore the internet
            }
          }
        </span>
        <adx-switch [icons]="true" [(value)]="searchSourceSwitchValue" />
      </div>
    </div>
    <div class="h-[320px] pointer-events-none"></div>
  </form>
</main>
