<bs-search-container class="relative">
  <bs-search>
    <input
      bs-search-control
      type="search"
      [formControl]="queryControl()"
      bsCaptureFocus
    />
    <ng-container *bsSearchTrailing>
      <button
        bs-icon-button
        [routerLink]="['/start', { query: queryControl().value }]"
      >
        <bs-icon icon="close" />
      </button>
    </ng-container>
  </bs-search>
  <div class="border-b-[1px] border-b-outline-variant"></div>

  @let columnPadding = 24;
  <div
    class="relative flex-1 min-h-0 overflow-auto scroll-hidden"
    [style.padding.px]="columnPadding"
    [style.padding-bottom]="0"
  >
    @if (cards(); as cards) {
      @let columnWidth = columnSizer.boundingBox().width;
      <ngx-masonry
        [options]="{ columnWidth: '.sizer', gutter: columnPadding }"
        @SearchResults
      >
        <div
          class="absolute inset-0 grid grid-cols-[repeat(auto-fit,minmax(200px,1fr))] [scrollbar-width:none] invisible pointer-events-none"
          [style.gap.px]="columnPadding"
        >
          <div class="sizer" bsBoundingBox #columnSizer="bsBoundingBox"></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        @for (card of cards; track $index) {
          @let isFutureSelection =
            $index === futureSelectionIndex() && !selectedIndex();
          <button
            bs-search-result-card
            ngxMasonryItem
            [class.future-selection]="isFutureSelection"
            [headline]="card.headline"
            [url]="card.url"
            [coverUrl]="card.cover"
            [coverRatio]="card.coverRatio"
            [style.width.px]="columnWidth"
            [style.margin-bottom.px]="columnPadding"
            (click)="select($index)"
          ></button>
        }
      </ngx-masonry>
    } @else {
      <bs-loading-overlay />
    }
  </div>

  @if (selectedIndex() && selected(); as bookmark) {
    @let bookmarkDetailed = bookmarkIsDetailed(bookmark) ? bookmark : undefined;
    <bs-search-detail
      class="absolute inset-0"
      [headline]="bookmark.title"
      [url]="bookmark.url"
      [imageUrl]="bookmarkDetailed?.imageUrl ?? ''"
      [description]="bookmarkDetailed?.summary ?? ''"
    />
  }
</bs-search-container>
