<div
  class="bg-secondary-container bg-contain rounded-[inherit] rounded-r-none [view-transition-name:search-detail-image]"
  [style.background-image]="imageUrl() && 'url(' + imageUrl() + ')'"
></div>

<div class="relative min-h-0 flex flex-col p-[16px] gap-[16px] items-stretch">
  <div class="absolute right-[8px] top-[8px]">
    <button bs-icon-button (click)="onCloseClick()">
      <bs-icon icon="close" />
    </button>
  </div>

  <div class="headline-small pr-[32px] text-on-surface">{{ headline() }}</div>
  <div
    class="flex-1 min-h-0 body-large text-on-surface-variant whitespace-pre-line overflow-auto"
  >
    {{ description() }}
  </div>
  <div class="flex items-center">
    <span
      class="flex-1 min-w-0 label-large text-on-surface-variant text-nowrap text-ellipsis overflow-hidden"
    >
      {{ url() | shortUrl }}
    </span>
    <div>
      <a [href]="url()" target="_self">
        <button bs-icon-button>
          <bs-icon icon="send" />
        </button>
      </a>
    </div>
  </div>
</div>
