@import 'tailwindcss/base';
@import 'tailwindcss/utilities';
@import 'normalize.css';
@import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@300';

html,
body {
  height: 100%;
}

router-outlet {
  display: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: var(--shape-corner-full);
  background-color: var(--scheme-secondary);
}

::selection {
  background-color: var(--scheme-secondary-container);
  color: var(--scheme-on-secondary-container);
  text-decoration: underline dotted var(--scheme-outline);
}

:autofill {
  border-radius: var(--shape-corner-extra-small);
}

@layer utilities {
  @mixin level($name) {
    font-family: var(--typescale-#{$name}-font);
    font-weight: var(--typescale-#{$name}-weight);
    font-size: var(--typescale-#{$name}-size);
    line-height: var(--typescale-#{$name}-line-height);
    letter-spacing: var(--typescale-#{$name}-tracking);
  }

  @mixin inherit() {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
  }

  .display-large {
    @include level('display-large');
  }
  .display-medium {
    @include level('display-medium');
  }
  .display-small {
    @include level('display-small');
  }
  .headline-large {
    @include level('headline-large');
  }
  .headline-medium {
    @include level('headline-medium');
  }
  .headline-small {
    @include level('headline-small');
  }
  .title-large {
    @include level('title-large');
  }
  .title-medium {
    @include level('title-medium');
  }
  .title-small {
    @include level('title-small');
  }
  .body-large {
    @include level('body-large');
  }
  .body-medium {
    @include level('body-medium');
  }
  .body-small {
    @include level('body-small');
  }
  .label-large {
    @include level('label-large');
  }
  .label-medium {
    @include level('label-medium');
  }
  .label-small {
    @include level('label-small');
  }
  .inherit {
    @include inherit();
  }
}
